footer {
	position: relative;
	width: 100%;
	background-color: var(--primary-highlight-color);
}

.footer-wrapper {
	min-height: 20rem;
	display: grid;
	gap: 7.5rem;
	grid-template-columns: 1fr 1fr;
	padding: 2.5rem;
	margin-top: 2.5rem;
	max-width: 100rem;
	margin: 0 auto;
}

.footer-wrapper > .footer-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-wrapper > .footer-info-container img {
	width: 5rem;
	padding: 0.75rem;
}

.footer-wrapper > .footer-info-container p.info-text {
	font-size: 1rem;
	font-weight: 400;
}

.footer-wrapper > .footer-info-container p.copyright-text {
	font-size: 0.75rem;
}

.footer-wrapper > .footer-links-container {
	display: flex;
	gap: 2rem 5rem;
	flex-wrap: wrap;
	justify-content: end;
}

.footer-links-container > .link-block h4 {
	font-size: 1rem;
	font-weight: 500;
}

.footer-links-container > .link-block a {
	font-size: 0.75rem;
	color: var(--primary-link-font-color);
	transition: color 0.25s ease-in-out;
}

.footer-links-container > .link-block a:hover {
	color: var(--primary-link-hover-font-color);
}

.footer-links-container > .link-block li {
	height: fit-content;
}
