:root {
	--primary-font-color: #1e1e1e;
	--secondary-font-color: #ffffff;

	--primary-background-color: #f5f6fa;
	--primary-hightlight-color: #f0e6db;
	--secondary-hightlight-color: var(--primary-font-color, #000);

	/* BUTTONS */
	--primary-button-font-color: var(--secondary-font-color);
	--primary-button-background-color: var(--primary-font-color);
	--primary-button-hover-background-color: #000;
}
